body {
    font-family: sans-serif;
    line-height: 1.7;
    padding: 1rem 10%;
    background: #fff;
}

form {
    background: #eee;
    padding: 1rem;
    display: inline-block;
}

em {
    font-weight: bold;
}